/* You can add global styles to this file, and also import other style files */
	$primary: rgba(0, 195, 255, .9);
	nav{
		float:right;
		ul {
			list-style-type: none;
			display: flex;

			li a{
				padding: 1em;
				&:hover{
					background: darken($primary, 15%);
				}
			}
		}
	}

	a{
		text-decoration: none;
	}

	.card {
		border-radius: 4px;
		border: 1px solid #eee;
		background-color: #fafafa;
		// height: 40px;
		// width: 200px;
		margin: 0 8px 16px;
		padding: 16px;
		// display: flex;
		// flex-direction: row;
		justify-content: center;
		align-items: center;
		transition: all 0.2s ease-in-out;
		line-height: 24px;
	}

	.card2 {
		border-radius: 4px;
		border: 2px solid #eee;
		background-color: #f3f3f3;
		// height: 40px;
		// width: 200px;
		margin: 0 8px 16px;
		padding: 16px;
		// display: flex;
		// flex-direction: row;
		justify-content: center;
		align-items: center;
		transition: all 0.2s ease-in-out;
		line-height: 24px;
	}

